{
  "presets": [
    [
      "env",
      {
        "esmodules": false,
        "targets": {
          "browsers": [
            "> 3%"
          ]
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
    // ["transform-runtime", {"polyfill": false}]
  ]
}
